.root {
	position: relative;
	left: -120px;
}

.input {
	width: 300px;
	padding: 12px 20px;
	border: 1px solid rgb(0 0 0 / 10%);
	border-radius: 10px;
	font-size: 16px;
	padding-left: 42px;
	transition: all 0.15s ease-in-out;

	&:focus {
		width: 450px;
		border: 1px solid rgb(0 0 0 / 20%);
	}
}

.icon {
	position: absolute;
	top: 12px;
	left: 12px;
	width: 21px;
	height: 21px;
	opacity: 0.5;
	background-size: 1%;
}

.clearIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  right: 15px;
  width: 18px;
  height: 18px;
  padding: 0;
  border: none;
  background: none;
  opacity: 0.3;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 2;

  &:hover {
    opacity: 0.8;
  }
}
